<section>
    Bonjour {{userFound.name}} {{userFound.firstname}} !
    <br></br>
    <form action="/users/logout" method="post">
        <input type="submit" value="Se déconnecter">
    </form>
</section>