<section class="homepage">
    <div>
        <section id="about">
            <h2>À propos du Club</h2>
            <p>Bienvenue au Club de Tennis, un lieu où les passionnés de tennis se réunissent pour jouer, s'amuser et s'améliorer.</p>
            <p>Nous offrons une atmosphère conviviale et des installations de qualité pour tous les niveaux, que vous soyez débutant ou joueur expérimenté.</p>
        </section>
        <section id="stats">
            <h2>Statistiques du Club</h2>
            <ul>
                <li>Nombre de tournois à venir : <strong>{{nb_upcoming_tournaments}}</strong></li>
                <li>Nombre de réservations de terrains à venir : <strong>{{nb_upcoming_courtBookings}}</strong></li>
                <li>Nombre de messages envoyés la semaine dernière : <strong>{{nb_messages_lastWeek}}</strong></li>
            </ul>
        </section>
    </div>
</section>
<footer id="index_footer">
    <p>&copy; 2024 Club de Tennis. Tous droits réservés. Groupe 24 : Damilot Julien, Albayrak Emir, Kaplaner Kerim</p>
</footer>
</body>
</html>

